.header {
    padding: 10px;
    padding-left: 50px;
    align-items: center;
}

.logo-home {
    width: 250px;
}

.login-container, .register-container {
    background-color: #D4A7B4;
    align-items: center;
}

.login-logo {
    text-align: center;
}

.login-logo img {
    width: 25vw;
    margin-top: 5vh;
}

.login-form button, #submitBtn {
    width: 100%;
    height: 40px;
    padding: 5px;
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.login-form form, .register-form form {
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.login-form label, .register-form label {
    font-weight: bold;
}

.login-form, .register-form {
    padding: 5vw 10vw 5vw 2vw;
}

.register-btn a{
    color: #D4A7B4; 
    font-weight: bold;
}

.register-btn a:hover {
    color: #D4A7B4; 
    font-weight: bold;
}

.register-btn {
    text-align: center;
}

.slogan {
    margin-top: 30px;
    font-size: 28px;
    color: white;
}

@media screen and (max-width: 768px) {
    .login-form, .register-form {
        padding: 10vw;
    }
}
