<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <filter>
        <filter-name>EncodeUTF8Filter</filter-name>
        <filter-class>filters.EncodeUTF8Filter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatchController</filter-name>
        <filter-class>filters.DispatchController</filter-class>
    </filter>
    <filter>
        <filter-name>getAllCategoriesFilter</filter-name>
        <filter-class>filters.getAllCategoriesFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdministratorFilter</filter-name>
        <filter-class>filters.AdministratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodeUTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdministratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>getAllCategoriesFilter</filter-name>
        <url-pattern>/homepage.jsp</url-pattern>
        <url-pattern>/search.jsp</url-pattern>
        <url-pattern>/hiddenNavigation.jsp</url-pattern>
        <url-pattern>/navigation.jsp</url-pattern>
        <url-pattern>/manageDish.jsp</url-pattern>
        <url-pattern>/manageIngredient.jsp</url-pattern>
        <url-pattern>/manageMenu.jsp</url-pattern>
        <url-pattern>/addNewDish.jsp</url-pattern>
        <url-pattern>/addNewIngredient.jsp</url-pattern>
        <url-pattern>/editIngredient.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controllers.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductByCategoryServlet</servlet-name>
        <servlet-class>controllers.GetProductByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuByCategoryServlet</servlet-name>
        <servlet-class>controllers.GetMenuByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMenuByNameServlet</servlet-name>
        <servlet-class>controllers.SearchMenuByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailServlet</servlet-name>
        <servlet-class>controllers.ViewProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controllers.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>controllers.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmStatusChangeServlet</servlet-name>
        <servlet-class>controllers.ConfirmStatusChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>controllers.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleAccountServlet</servlet-name>
        <servlet-class>controllers.UpdateRoleAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>controllers.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>controllers.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <servlet-class>controllers.UpdateStatusOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupOrderByBatchServlet</servlet-name>
        <servlet-class>controllers.GroupOrderByBatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDishServlet</servlet-name>
        <servlet-class>controllers.SearchDishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductStatusServlet</servlet-name>
        <servlet-class>controllers.UpdateProductStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIngreServlet</servlet-name>
        <servlet-class>controllers.SearchIngreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewIngreServlet</servlet-name>
        <servlet-class>controllers.AddNewIngreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>controllers.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>controllers.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMenuDetailServlet</servlet-name>
        <servlet-class>controllers.ViewMenuDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPersonalPlanServlet</servlet-name>
        <servlet-class>controllers.ViewPersonalPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuToPlanServlet</servlet-name>
        <servlet-class>controllers.AddMenuToPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlanServlet</servlet-name>
        <servlet-class>controllers.DeletePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDishFromPlanServlet</servlet-name>
        <servlet-class>controllers.DeleteDishFromPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewPlanServlet</servlet-name>
        <servlet-class>controllers.CreateNewPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDishToPlanServlet</servlet-name>
        <servlet-class>controllers.AddDishToPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <servlet-class>controllers.DeleteMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDishFromMenuServlet</servlet-name>
        <servlet-class>controllers.DeleteDishFromMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDishToMenuServlet</servlet-name>
        <servlet-class>controllers.AddDishToMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMenuServlet</servlet-name>
        <servlet-class>controllers.SearchMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIngredientServlet</servlet-name>
        <servlet-class>controllers.EditIngredientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductByCategoryServlet</servlet-name>
        <url-pattern>/GetProductByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuByCategoryServlet</servlet-name>
        <url-pattern>/GetMenuByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMenuByNameServlet</servlet-name>
        <url-pattern>/SearchMenuByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailServlet</servlet-name>
        <url-pattern>/ViewProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmStatusChangeServlet</servlet-name>
        <url-pattern>/ConfirmStatusChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleAccountServlet</servlet-name>
        <url-pattern>/UpdateRoleAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderServlet</servlet-name>
        <url-pattern>/UpdateStatusOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupOrderByBatchServlet</servlet-name>
        <url-pattern>/GroupOrderByBatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDishServlet</servlet-name>
        <url-pattern>/SearchDishServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductStatusServlet</servlet-name>
        <url-pattern>/UpdateProductStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchIngreServlet</servlet-name>
        <url-pattern>/SearchIngreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewIngreServlet</servlet-name>
        <url-pattern>/AddNewIngreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMenuDetailServlet</servlet-name>
        <url-pattern>/ViewMenuDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPersonalPlanServlet</servlet-name>
        <url-pattern>/ViewPersonalPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuToPlanServlet</servlet-name>
        <url-pattern>/AddMenuToPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlanServlet</servlet-name>
        <url-pattern>/DeletePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDishFromPlanServlet</servlet-name>
        <url-pattern>/DeleteDishFromPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewPlanServlet</servlet-name>
        <url-pattern>/CreateNewPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDishToPlanServlet</servlet-name>
        <url-pattern>/AddDishToPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <url-pattern>/DeleteMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDishFromMenuServlet</servlet-name>
        <url-pattern>/DeleteDishFromMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDishToMenuServlet</servlet-name>
        <url-pattern>/AddDishToMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMenuServlet</servlet-name>
        <url-pattern>/SearchMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIngredientServlet</servlet-name>
        <url-pattern>/EditIngredientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DSBlink</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/siteMap.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHENTICATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authentication.properties</param-value>
    </context-param>
    <context-param>
        <param-name>ADMINISTRATOR_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/administrator.properties</param-value>
    </context-param>
</web-app>
